<%= nested_form_for @survey, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <%= f.fields_for :collaterals %>
  <p><%= f.link_to_add "Add survey collateral", :collaterals %></p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :questions %>
  <p><%= f.link_to_add "Add a question", :questions %></p>

  <p><%= f.submit "Submit" %></p>
<% end %>
